/* - - - - - - - - - - - - - - - - - - - - - - G E N E R A L - - - */

* {
  margin: 0;
  padding: 0;
}


body {
  background: #636363;
  background: -webkit-linear-gradient(to right, #303030, #636363);
  background: linear-gradient(to right, #303030, #636363);
  height: 100%;
  overflow-x: hidden;
}


::selection {
  background-color: none;
  color:#660d17;
}


/* - - - - - - - - - - - - - - - - - - - - - - H E A D E R - - - */


.radioChernarusBG {
  width: 100%;
  height: 500px;
  background-image: url("images/radio_chernarus_header.jpg");
  background-position: 50% 60%;
  box-shadow: 0 0 25px black;
  border-bottom: 2px solid black;

  overflow: hidden;
  cursor: default;
  background-size: cover;
  background-repeat: no-repeat;
}

.radioChernarusContainer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* - - - - - - - - G R A I N   E F F E C T - - - */


.radioChernarusContainer::before {
  content: "";
  background-image: url("vendors/grain.png");
  height: 100%;
  width: 400%;
  opacity: 0.3;
  position: fixed;
  animation: grain 8s steps(10) infinite;
  position: relative;
}


@keyframes grain {
  0%, 100% { transform:translate(-10%, 0%) }
  10% { transform:translate(10%, 0%) }
  20% { transform:translate(-10%, 0%) }
  30% { transform:translate(10%, 0%) }
  40% { transform:translate(-10%, 0%) }
  50% { transform:translate(10%, 0%) }
  60% { transform:translate(-10%, 0%) }
  70% { transform:translate(10%, 0%) }
  80% { transform:translate(-10%, 0%) }
  90% { transform:translate(10%, 0%) }
}


/* - - - - - - - - - - - - - - - - - - - - - - L O G S - - - */


.logs {
  color: #fff;
  z-index: 9999;
  position: absolute;
  right: 0;
  margin: 20px;
  font-family: "RUSKOF", sans-serif;
  white-space: nowrap;
}

.logs a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .2);
  padding: 7px 15px;
  margin-left: 15px;
  text-shadow: 0 0 5px black;
  transition: .7s;
}

.logs a:hover{
  background-color: rgba(255, 255, 255, .4);
  transition: .7s;
}


/* - - - - - - - - - - - - - - - - - - - - - - T I T L E - - - */


.radioChernarusTitleBG {
  border: 2px solid #fff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .2);
  position: fixed;
  padding: 30px;
  position: absolute;
}


.channel {
  font-size: 5.3vw;
  color: #ba8946;
}


.radioChernarusTitleBG h1::selection, span::selection {
  background-color: none;
  color: none;
}


@font-face {
    font-family: "RUSKOF";
    src: url("vendors/RUSKOF.ttf") format("truetype");
}


.radioChernarusBG h1 {
  color: #fff;
  font-family: "RUSKOF", sans-serif;
  font-size: 5vw;
  text-shadow: 0 0 25px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  letter-spacing: 5px;
  font-weight: lighter;
}


/* - - - - - - - - - - - - - - - - - - - - - - S O N G S   P A R T S - - - */


.songSuggestionSection {
  font-family: "Inconsolata", sans-serif;
  text-align: center;
  margin-top: 2%;
  font-size: 21px;
  width: 100%;
}


/* - - - - - - - - S O N G   R E Q U E S T - - - */


.songRequest {
  margin-top: 5%;
  float: left;
  width: 50%;
}


.songRequest h1 {
  margin-bottom: 4%;
}


.songSuggestionInput {
  width: 50%;
  outline: none;
  height: 35px;
  border: 1px solid black;
  background-color: #636363;
  border-radius: 3px;
  font-size: 16px;
}


.songSuggestionSubmit {
  height: 35px;
  background-color: #636363;
  border-radius: 3px;
  border: 1px solid black;
  padding: 0 5px;
  outline: none;
  font-weight: bold;
}


.songSuggestionSubmit:active {
  -webkit-box-shadow: inset 0px 0px 48px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: inset 0px 0px 48px 3px rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 48px 3px rgba(0,0,0,0.4);
}


/* - - - - - - - - S O N G   L I S T - - - */

.songList {
  margin-top: 2%;
  float: right;
  width: 50%;
}


.songList h1 {
  margin-bottom: 2%;
}


.songList ul {
  list-style: none;
  margin-bottom: 4%;
  text-shadow: 0 0 15px rgba(0,0,0,.3);
}
